.topBar-container {
  /* border: solid blue; */
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.topBar-wrapper {
  border-bottom: 1px solid grey;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.topBar-wrapper > button {
  border-radius: 20px;
  padding: 8px;
  border: none;
  background-color: var(--customColor2);
  color: var(--customColor1);
}
